:root {
	--primaryGreen: #008000;
	--textColor: #4d4d4d;
	--defaultBackground: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	overflow-x: hidden;
}

.container {
	max-width: 1280px;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hamburger {
	display: none;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: var(--defaultBackground);
	padding: 16px 32px;
	max-width: 100vw;
}

.menu {
	display: flex;
	flex: 1 1 0%;
	justify-content: flex-end;
	margin: 0 -16px;
}

.menu a {
	color: var(--primaryGreen);
	margin: 0 16px;
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s;
	padding: 8px 16px;
	border-radius: 99px;
}

.menu a:hover {
	background-color: var(--primaryGreen);
	color: var(--defaultBackground);
}

@media (max-width: 768px) {
	.hamburger {
		display: block;
		position: relative;
		z-index: 1;

		margin-left: auto;
		margin-right: 0;

		user-select: none;

		appearance: none;
		border: none;
		outline: none;
		background: none;
		cursor: pointer;
	}

	.hamburger span {
		display: block;
		width: 32px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background-color: var(--textColor);
		border-radius: 6px;
		z-index: 1;

		transform-origin: 0 0;

		transition: 0.4s;
	}

	.hamburger.is-active span:nth-child(1) {
		transform: translate(0px, -2px) rotate(45deg);
	}

	.hamburger.is-active span:nth-child(2) {
		opacity: 0;
		transform: translateX(15px);
	}

	.hamburger.is-active span:nth-child(3) {
		transform: translate(-3px, 3px) rotate(-45deg);
	}

	.hamburger.is-active:hover span {
		background-color: var(--defaultBackground);
	}

	.menu {
		display: flex;
		width: 100%;
		height: 100vh;
		right: 0;
		top: 0;
		background-color: var(--primaryGreen);
		position: absolute;
		align-items: left;
		justify-content: left;
		flex-direction: column;
		transform: translateX(100%);
		transition: all 0.25s linear;
		z-index: 9999999;

		opacity: 00.57;
		/* visibility: hidden; */
	}

	.menu a:nth-child(1) {
		margin-top: 50px;
	}

	.menu a {
		color: var(--defaultBackground);
		margin: 10px;
	}

	.visible.menu {
		opacity: 1;
		visibility: visible;

		transform: translateX(0%);
	}
}
